[{sasl,[{errlog_type,error}]},
 {phoenix,
     [{'Elixir.Bouncer.Router',
          [{port,nil},
           {ssl,false},
           {host,<<"example.com">>},
           {cookies,true},
           {session_key,<<"_stan_key">>},
           {session_secret,
               <<"Z!PVL@&X_9$^2I5IU*!M2^(S(QY@U2ZE!I=LC0C7*@6=FDD(EW)VYCEJYF12)M3D856OXXRQ">>}]},
      {code_reloader,[{enabled,false}]}]},
 {logger,[{console,[{level,info},{metadata,[request_id]}]}]}].
